Repository rimotto/BotBuilder-Samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/bb-samples, @sgellock, @stevengum, @vishwacsena, @boydc2014, @chrimc62, @GeoffCoxMSFT, @garypretty, @johnataylor, @axelsrz

Update adaptive-tool (#2809)
  experimental/adaptive-tool/README.md
  experimental/adaptive-tool/package.json
  experimental/adaptive-tool/resources/lg/lgPreviewTemplate.html
  experimental/adaptive-tool/server/lg/src/providers/diagnostics.ts
Owners: @boydc2014, @chrimc62, @GeoffCoxMSFT

update sln file to match what mentioned in orchestrator samples readme (#2757)
  experimental/orchestrator/csharp_dotnetcore/OrchestratorSamples.sln
  experimental/orchestrator/csharp_dotnetcore/nuget.config
Owners: @microsoft/bb-samples

Update qnamakerBaseDialog.js (#2704)
  samples/javascript_nodejs/49.qnamaker-all-features/dialogs/qnamakerBaseDialog.js
Owners: @sgellock, @stevengum

update package.json (#2828)
  samples/javascript_nodejs/08.suggested-actions/package.json
Owners: @sgellock, @stevengum

Fix for orchestrator samples (#2827)
  experimental/orchestrator/csharp_dotnetcore/01.dispatch-bot/01.dispatch-bot.csproj
  experimental/orchestrator/csharp_dotnetcore/01.dispatch-bot/CognitiveModels/QnAMaker.qna
  experimental/orchestrator/csharp_dotnetcore/01.dispatch-bot/README.md
  experimental/orchestrator/csharp_dotnetcore/02.todo-bot-with-adaptive-dialog/02.todo-bot-with-adaptive-dialog.csproj
  experimental/orchestrator/csharp_dotnetcore/02.todo-bot-with-adaptive-dialog/README.md
  experimental/orchestrator/csharp_dotnetcore/03.declarative-bot/03.declarative-bot.csproj
  experimental/orchestrator/csharp_dotnetcore/03.declarative-bot/README.md
  experimental/orchestrator/javascript_nodejs/01.dispatch-bot/README.md
  experimental/orchestrator/javascript_nodejs/02.todo-bot-with-adaptive-dialog/README.md
  experimental/orchestrator/javascript_nodejs/03.declarative-bot/README.md
Owners: @microsoft/bb-samples

Add pre-requisite for using bf orchestrator plugin (#2803)
  experimental/orchestrator/README.md
Owners: @microsoft/bb-samples

fix the link due to the SDK update (#2830)
  experimental/adaptive-tool/README.md
Owners: @boydc2014, @chrimc62, @GeoffCoxMSFT

minor readme update (#2831)
  experimental/orchestrator/csharp_dotnetcore/01.dispatch-bot/README.md
  experimental/orchestrator/csharp_dotnetcore/02.todo-bot-with-adaptive-dialog/README.md
  experimental/orchestrator/csharp_dotnetcore/03.declarative-bot/README.md
  experimental/orchestrator/javascript_nodejs/01.dispatch-bot/README.md
  experimental/orchestrator/javascript_nodejs/02.todo-bot-with-adaptive-dialog/README.md
  experimental/orchestrator/javascript_nodejs/03.declarative-bot/README.md
Owners: @microsoft/bb-samples

Fix/python samples 53 & 54 (#2700)
  samples/python/53.teams-messaging-extensions-action-preview/bots/messaging_extension_action_preview_bot.py
Owners: @axelsrz

Upgrade runtime packages (#2845)
  experimental/generation/TestBot/TestBot/TestBot.csproj
  experimental/generation/generator/.vscode/launch.json
  experimental/generation/generator/packages/cli/README.md
  experimental/generation/generator/packages/cli/src/commands/dialog/generate.ts
  experimental/generation/generator/packages/library/package.json
  experimental/generation/generator/packages/library/src/dialogGenerator.ts
  experimental/generation/generator/packages/library/templates/generator.lg
  experimental/generation/generator/packages/library/templates/standard/en-us/dateProperty.en-us.lg.lg
  experimental/generation/generator/packages/library/templates/standard/en-us/enumArrayProperty.en-us.lg.lg
  experimental/generation/generator/packages/library/templates/standard/en-us/enumProperty.en-us.lg.lg
  experimental/generation/generator/packages/library/templates/standard/en-us/library-DisplayOperation.en-us.lg.lg
  experimental/generation/generator/packages/library/templates/standard/en-us/objectProperty.en-us.lg.lg
  experimental/generation/generator/packages/library/templates/standard/en-us/standard.en-us.lg
  experimental/generation/generator/packages/library/templates/standard/string.lg
  experimental/generation/generator/packages/library/test/forms/action.schema
  experimental/generation/generator/packages/library/test/generate.test.ts
  experimental/generation/runbot/RunBot.csproj
Owners: @boydc2014, @chrimc62, @GeoffCoxMSFT

Remove debugger statement (#2852)
  experimental/generation/generator/packages/library/src/dialogGenerator.ts
  experimental/generation/generator/packages/library/test/generate.test.ts
Owners: @boydc2014, @chrimc62, @GeoffCoxMSFT

Updated documentation nlr->basemodel (#2862)
  experimental/orchestrator/README.md
  experimental/orchestrator/csharp_dotnetcore/01.dispatch-bot/README.md
  experimental/orchestrator/csharp_dotnetcore/02.todo-bot-with-adaptive-dialog/README.md
  experimental/orchestrator/csharp_dotnetcore/03.declarative-bot/README.md
  experimental/orchestrator/javascript_nodejs/01.dispatch-bot/README.md
  experimental/orchestrator/javascript_nodejs/02.todo-bot-with-adaptive-dialog/README.md
  experimental/orchestrator/javascript_nodejs/03.declarative-bot/README.md
Owners: @microsoft/bb-samples

Add linux deployment template to TS sample (#2842)
  samples/typescript_nodejs/13.core-bot/deploymentTemplates/linux/template.json
Owners: @sgellock, @stevengum

Adaptive Tool README refinements (#2819)
  experimental/adaptive-tool/README.md
  experimental/adaptive-tool/resources/images/breakpoints.gif
Owners: @boydc2014, @chrimc62, @GeoffCoxMSFT

Update to latest runtime and fix bugs (#2866)
  experimental/generation/TestBot/Test/sandwich.transcript
  experimental/generation/TestBot/TestBot/TestBot.csproj
  experimental/generation/generator/packages/library/src/dialogGenerator.ts
  experimental/generation/generator/packages/library/src/processSchemas.ts
  experimental/generation/generator/packages/library/templates/generator.lg
  experimental/generation/generator/packages/library/templates/standard/age.schema
  experimental/generation/generator/packages/library/templates/standard/datetime.schema
  experimental/generation/generator/packages/library/templates/standard/datetimeV2Entity-add-date-time.dialog.lg
  experimental/generation/generator/packages/library/templates/standard/datetimeV2Entity-add-date.dialog.lg
  experimental/generation/generator/packages/library/templates/standard/datetimeV2Entity-add-time.dialog.lg
  experimental/generation/generator/packages/library/templates/standard/datetimeV2Entity-add.dialog.lg
  experimental/generation/generator/packages/library/templates/standard/dimension.schema
  experimental/generation/generator/packages/library/templates/standard/en-us/library-Choose.en-us.lg
  experimental/generation/generator/packages/library/templates/standard/en-us/library-DisplayOperation.en-us.lg.lg
  experimental/generation/generator/packages/library/templates/standard/en-us/library-Help.en-us.lg
  experimental/generation/generator/packages/library/templates/standard/en-us/library.en-us.lg
  experimental/generation/generator/packages/library/templates/standard/generic-change.dialog.lg
  experimental/generation/generator/packages/library/templates/standard/generic-help.dialog.lg
  experimental/generation/generator/packages/library/templates/standard/geography.schema
  experimental/generation/generator/packages/library/templates/standard/geographyV2Entity-add.dialog.lg
  experimental/generation/generator/packages/library/templates/standard/library-ChooseProperty.dialog.lg
  experimental/generation/generator/packages/library/templates/standard/locale.lg.lg
  experimental/generation/generator/packages/library/templates/standard/locale.lu.lg
  experimental/generation/generator/packages/library/templates/standard/money.schema
  experimental/generation/generator/packages/library/templates/standard/moneyEntity-add.dialog.lg
  experimental/generation/generator/packages/library/templates/standard/ordinal.schema
  experimental/generation/generator/packages/library/templates/standard/standard.schema
  experimental/generation/generator/packages/library/templates/standard/temperature.schema
  experimental/generation/generator/packages/library/templates/standard/temperatureEntity-add.dialog.lg
  experimental/generation/generator/packages/library/test/forms/sandwich.schema
  experimental/generation/runbot/RunBot.csproj
Owners: @boydc2014, @chrimc62, @GeoffCoxMSFT

add string luis entity schema (#2853)
  experimental/generation/generator/packages/library/templates/standard/keyphrase.schema
  experimental/generation/generator/packages/library/templates/standard/percentage.schema
  experimental/generation/generator/packages/library/templates/standard/personname.schema
  experimental/generation/generator/packages/library/templates/standard/phonenumber.schema
Owners: @boydc2014, @chrimc62, @GeoffCoxMSFT

Fix tests (#2873)
  experimental/generation/generator/packages/library/src/dialogGenerator.ts
  experimental/generation/generator/packages/library/templates/standard/age.schema
  experimental/generation/generator/packages/library/templates/standard/dimension.schema
  experimental/generation/generator/packages/library/test/generate.test.ts
Owners: @boydc2014, @chrimc62, @GeoffCoxMSFT

Rename property entities to <prop>Property update to Rc0 (#2874)
  experimental/generation/TestBot/TestBot/TestBot.csproj
  experimental/generation/TestBot/TestBot/nuget.config
  experimental/generation/generator/packages/cli/.npmrc
  experimental/generation/generator/packages/library/.npmrc
  experimental/generation/generator/packages/library/package.json
  experimental/generation/generator/packages/library/templates/generator.lg
  experimental/generation/generator/packages/library/templates/standard/en-us/enumArrayEntity.en-us.lg.lg
  experimental/generation/generator/packages/library/templates/standard/en-us/enumEntity.en-us.lg.lg
  experimental/generation/generator/packages/library/templates/standard/standard.schema
  experimental/generation/runbot/RunBot.cs
  experimental/generation/runbot/RunBot.csproj
  experimental/generation/runbot/nuget.config
  experimental/generation/runbot/readme.md
Owners: @boydc2014, @chrimc62, @GeoffCoxMSFT

Fix nuget.config (#2875)
  experimental/generation/runbot/nuget.config
Owners: @boydc2014, @chrimc62, @GeoffCoxMSFT

updated orchestrator docs (#2872)
  experimental/orchestrator/README.md
  experimental/orchestrator/docs/Overview.md
  experimental/orchestrator/docs/README.md
Owners: @microsoft/bb-samples

Update orchestrator reference doc (#2871)
  experimental/orchestrator/docs/API_reference.md
Owners: @microsoft/bb-samples

Add evaluation results to Orchestrator Overview Doc (#2876)
  experimental/orchestrator/docs/Overview.md
Owners: @microsoft/bb-samples

Fix experimental/qnamaker-prompting readme (#2863)
  experimental/qnamaker-prompting/README.md
Owners: @microsoft/bb-samples

Orchestrator samples clean up (#2888)
  experimental/orchestrator/csharp_dotnetcore/01.dispatch-bot/README.md
  experimental/orchestrator/csharp_dotnetcore/01.dispatch-bot/appsettings.json
  experimental/orchestrator/csharp_dotnetcore/02.todo-bot-with-adaptive-dialog/README.md
  experimental/orchestrator/csharp_dotnetcore/03.declarative-bot/.gitignore
  experimental/orchestrator/csharp_dotnetcore/03.declarative-bot/03.declarative-bot.csproj
  experimental/orchestrator/csharp_dotnetcore/03.declarative-bot/Controllers/BotController.cs
  experimental/orchestrator/csharp_dotnetcore/03.declarative-bot/DeclarativeBot.cs
  experimental/orchestrator/csharp_dotnetcore/03.declarative-bot/DeclarativeBotAdapter.cs
  experimental/orchestrator/csharp_dotnetcore/03.declarative-bot/Dialogs/RootDialog.dialog
  experimental/orchestrator/csharp_dotnetcore/03.declarative-bot/Dialogs/RootDialog.lg
  experimental/orchestrator/csharp_dotnetcore/03.declarative-bot/Dialogs/RootDialog.lu
  experimental/orchestrator/csharp_dotnetcore/03.declarative-bot/Program.cs
  experimental/orchestrator/csharp_dotnetcore/03.declarative-bot/Properties/launchSettings.json
  experimental/orchestrator/csharp_dotnetcore/03.declarative-bot/README.md
  experimental/orchestrator/csharp_dotnetcore/03.declarative-bot/Startup.cs
  experimental/orchestrator/csharp_dotnetcore/03.declarative-bot/appsettings.json
  experimental/orchestrator/csharp_dotnetcore/03.declarative-bot/wwwroot/default.htm
  experimental/orchestrator/csharp_dotnetcore/OrchestratorSamples.sln
  experimental/orchestrator/javascript_nodejs/01.dispatch-bot/.env
  experimental/orchestrator/javascript_nodejs/01.dispatch-bot/README.md
  experimental/orchestrator/javascript_nodejs/02.todo-bot-with-adaptive-dialog/README.md
  experimental/orchestrator/javascript_nodejs/03.declarative-bot/.env
  experimental/orchestrator/javascript_nodejs/03.declarative-bot/.eslintrc.js
  experimental/orchestrator/javascript_nodejs/03.declarative-bot/.gitignore
  experimental/orchestrator/javascript_nodejs/03.declarative-bot/README.md
  experimental/orchestrator/javascript_nodejs/03.declarative-bot/dialogs/RootDialog.dialog
  experimental/orchestrator/javascript_nodejs/03.declarative-bot/dialogs/RootDialog.lg
  experimental/orchestrator/javascript_nodejs/03.declarative-bot/dialogs/RootDialog.lu
  experimental/orchestrator/javascript_nodejs/03.declarative-bot/index.js
  experimental/orchestrator/javascript_nodejs/03.declarative-bot/package.json
Owners: @microsoft/bb-samples

Docs: Added walkthrough sample to migrate from LUIS dispatch to Orchestrator (#2881)
  experimental/orchestrator/README.md
  experimental/orchestrator/docs/DispatchMigrationExample.md
  experimental/orchestrator/docs/Overview.md
  experimental/orchestrator/docs/media/authoring.png
  experimental/orchestrator/docs/media/dispatch-logic-flow.png
Owners: @microsoft/bb-samples

Orchestrator spelling (#2897)
  experimental/orchestrator/docs/DispatchMigrationExample.md
Owners: @microsoft/bb-samples

resolving the issue of lu lg files modified (#2900)
  experimental/generation/generator/packages/library/src/dialogGenerator.ts
  experimental/generation/generator/packages/library/src/mergeAssets.ts
Owners: @boydc2014, @chrimc62, @GeoffCoxMSFT

.github/CODEOWNERS:

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*                                                       @microsoft/bb-samples

experimental/adaptive-dialog/**                         @sgellock @stevengum @vishwacsena
experimental/adaptive-tool/**                           @boydc2014 @chrimc62 @GeoffCoxMSFT
experimental/generation/**                              @boydc2014 @chrimc62 @GeoffCoxMSFT

generators/**                                           @garypretty @sgellock

samples/csharp*/**                                      @johnataylor @stevengum
samples/javascript*/**                                  @sgellock @stevengum
samples/typescript*/**                                  @sgellock @stevengum
samples/python*/**                                      @axelsrz

samples/csharp_dotnetcore/language-generation/**        @johnataylor @vishwacsena
samples/csharp_dotnetcore/adaptive-dialog/**            @johnataylor @vishwacsena
samples/javascript_nodejs/language-generation/**        @sgellock @stevengum @vishwacsena
