Repository rimotto/BotBuilder-Samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/bb-samples, @sgellock, @stevengum, @vishwacsena, @boydc2014, @chrimc62, @GeoffCoxMSFT, @garypretty, @johnataylor, @axelsrz

.github/CODEOWNERS:

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*                                                       @microsoft/bb-samples

experimental/adaptive-dialog/**                         @sgellock @stevengum @vishwacsena
experimental/adaptive-tool/**                           @boydc2014 @chrimc62 @GeoffCoxMSFT
experimental/generation/**                              @boydc2014 @chrimc62 @GeoffCoxMSFT

generators/**                                           @garypretty @sgellock

samples/csharp*/**                                      @johnataylor @stevengum
samples/javascript*/**                                  @sgellock @stevengum
samples/typescript*/**                                  @sgellock @stevengum
samples/python*/**                                      @axelsrz

samples/csharp_dotnetcore/language-generation/**        @johnataylor @vishwacsena
samples/csharp_dotnetcore/adaptive-dialog/**            @johnataylor @vishwacsena
samples/javascript_nodejs/language-generation/**        @sgellock @stevengum @vishwacsena

Fix the issue that IncludeImage doesn't work in Microsoft Teams message extension action sample. (#2622)
  samples/csharp_dotnetcore/51.teams-messaging-extensions-action/Bots/TeamsMessagingExtensionsActionBot.cs
Owners: @johnataylor, @stevengum

Improve documentation and scripts (#2632)
  experimental/generation/TestBot/Program.cs
  experimental/generation/TestBot/TestBot.csproj
  experimental/generation/TestBot/TestBot.schema
  experimental/generation/TestBot/TestBot.sln
  experimental/generation/TestBot/readme.md
  experimental/generation/docs/bot-schema.md
  experimental/generation/docs/get-started.md
  experimental/generation/generator/.vscode/launch.json
  experimental/generation/generator/README.md
  experimental/generation/generator/packages/cli/README.md
  experimental/generation/generator/packages/cli/package.json
  experimental/generation/generator/packages/cli/src/commands/dialog/generate.ts
  experimental/generation/generator/packages/cli/src/commands/dialog/generate/test.ts
  experimental/generation/generator/packages/cli/test/commands/dialog/generate.test.ts
  experimental/generation/generator/packages/cli/test/commands/dialog/swagger.test.ts
  experimental/generation/generator/packages/library/package.json
  experimental/generation/generator/packages/library/src/generatePhrases.ts
  experimental/generation/generator/packages/library/src/index.ts
  experimental/generation/generator/packages/library/src/processSchemas.ts
  experimental/generation/generator/packages/library/src/substitutions.ts
  experimental/generation/generator/packages/library/src/swaggerDialogGenerator.ts
  experimental/generation/generator/packages/library/src/testGenerator.ts
  experimental/generation/generator/packages/library/templates/standard/build.cmd.lg
  experimental/generation/generator/packages/library/templates/standard/build.lg
  experimental/generation/generator/packages/library/templates/standard/run.cmd.lg
  experimental/generation/generator/packages/library/templates/standard/run.lg
  experimental/generation/generator/packages/library/test/generate.test.ts
  experimental/generation/generator/packages/library/test/makeOracles.cmd
  experimental/generation/generator/packages/library/test/oracles/sandwich.test.dialog
  experimental/generation/generator/packages/library/test/transcripts/sandwich.transcript
  experimental/generation/readme.md
  experimental/generation/runbot/Properties/launchSettings.json
  experimental/generation/runbot/readme.md
Owners: @boydc2014, @chrimc62, @GeoffCoxMSFT

Fixed #2637: Directory separator char no longer hard-coded (#2638)
  samples/csharp_dotnetcore/15.handling-attachments/Bots/AttachmentsBot.cs
Owners: @johnataylor, @stevengum

Transform lu extension into LSP (#2601)
  experimental/adaptive-tool/.vscode/launch.json
  experimental/adaptive-tool/client/src/extension.ts
  experimental/adaptive-tool/package.json
  experimental/adaptive-tool/server/lg/src/providers/hover.ts
  experimental/adaptive-tool/server/lu/src/entityEnum.ts
  experimental/adaptive-tool/server/lu/src/luFilesStatus.ts
  experimental/adaptive-tool/server/lu/src/matchingPattern.ts
  experimental/adaptive-tool/server/lu/src/providers/completion.ts
  experimental/adaptive-tool/server/lu/src/providers/diagnostics.ts
  experimental/adaptive-tool/server/lu/src/providers/keyBinding.ts
  experimental/adaptive-tool/server/lu/src/server.ts
  experimental/adaptive-tool/server/lu/src/util.ts
  experimental/adaptive-tool/server/tsconfig.json
  experimental/adaptive-tool/tsconfig.json
Owners: @boydc2014, @chrimc62, @GeoffCoxMSFT

Switch <schema>.main.dialog to <schema>.dialog. (#2642)
  experimental/generation/TestBot/Test/Test.csproj
  experimental/generation/TestBot/Test/UnitTests.cs
  experimental/generation/TestBot/Test/sandwich.schema
  experimental/generation/TestBot/Test/sandwich.transcript
  experimental/generation/TestBot/TestBot.sln
  experimental/generation/TestBot/TestBot/Program.cs
  experimental/generation/TestBot/TestBot/Properties/launchSettings.json
  experimental/generation/TestBot/TestBot/TestBot.csproj
  experimental/generation/TestBot/TestBot/TestBot.schema
  experimental/generation/generator/.vscode/launch.json
  experimental/generation/generator/packages/cli/src/commands/dialog/generate/test.ts
  experimental/generation/generator/packages/cli/test/commands/dialog/generate.test.ts
  experimental/generation/generator/packages/library/src/dialogGenerator.ts
  experimental/generation/generator/packages/library/src/mergeAssets.ts
  experimental/generation/generator/packages/library/src/testGenerator.ts
  experimental/generation/generator/packages/library/templates/professional/main.dialog.lg
  experimental/generation/generator/packages/library/templates/standard/build.cmd.lg
  experimental/generation/generator/packages/library/templates/standard/build.lg
  experimental/generation/generator/packages/library/templates/standard/luis.lu.dialog.lg
  experimental/generation/generator/packages/library/templates/standard/main.dialog.lg
  experimental/generation/generator/packages/library/test/generate.test.ts
  experimental/generation/generator/packages/library/test/makeOracles.cmd
  experimental/generation/generator/packages/library/test/merge.test.ts
  experimental/generation/generator/packages/library/test/merge_data/modified/sandwichMerge.dialog
  experimental/generation/generator/packages/library/test/oracles/sandwich.test.dialog
Owners: @boydc2014, @chrimc62, @GeoffCoxMSFT

Fix bug where main dialog was not generated. (#2644)
  experimental/generation/generator/packages/cli/package.json
  experimental/generation/generator/packages/cli/test/commands/dialog/generate.test.ts
  experimental/generation/generator/packages/library/src/dialogGenerator.ts
  experimental/generation/generator/packages/library/test/generate.test.ts
Owners: @boydc2014, @chrimc62, @GeoffCoxMSFT

Update templates.md (#2608)
  experimental/generation/docs/templates.md
Owners: @boydc2014, @chrimc62, @GeoffCoxMSFT

Fix adaptive-tool does not work in offline install case (#2655)
  experimental/adaptive-tool/.vscode/launch.json
  experimental/adaptive-tool/.vscodeignore
  experimental/adaptive-tool/README.md
  experimental/adaptive-tool/buildingExtension.md
  experimental/adaptive-tool/client/src/extension.ts
  experimental/adaptive-tool/contribute.md
  experimental/adaptive-tool/debugging.md
  experimental/adaptive-tool/languageServer.md
  experimental/adaptive-tool/package.json
  experimental/adaptive-tool/server/lg/webpack.config.js
  experimental/adaptive-tool/server/lu/webpack.config.js
Owners: @boydc2014, @chrimc62, @GeoffCoxMSFT

revert the build script (#2660)
  experimental/adaptive-tool/README.md
  experimental/adaptive-tool/contribute.md
  experimental/adaptive-tool/package.json
Owners: @boydc2014, @chrimc62, @GeoffCoxMSFT

Apply webpack in adaptive-tool debug mode (#2661)
  experimental/adaptive-tool/package.json
Owners: @boydc2014, @chrimc62, @GeoffCoxMSFT

addressing empty dir (#2666)
  experimental/generation/generator/packages/library/src/dialogGenerator.ts
Owners: @boydc2014, @chrimc62, @GeoffCoxMSFT

Fix missing comma in javascript_nodejs/21.corebot-app-insights/package.json (#2669)
  samples/javascript_nodejs/21.corebot-app-insights/package.json
Owners: @sgellock, @stevengum

Grammar fix (#2646)
  samples/javascript_nodejs/51.teams-messaging-extensions-action/README.md
Owners: @sgellock, @stevengum

Add "luis_schema_version" to Weather.json in both C# and JS samples of 14.nlp-with-dispatch (#2650)
  samples/csharp_dotnetcore/14.nlp-with-dispatch/CognitiveModels/Weather.json
  samples/javascript_nodejs/14.nlp-with-dispatch/cognitiveModels/Weather.json
Owners: @johnataylor, @stevengum, @sgellock

Updated issue templates (#2671)
  .github/ISSUE_TEMPLATE/-samples-bug.md
  .github/ISSUE_TEMPLATE/-samples-feature-request.md
Owners: @microsoft/bb-samples

Update README.md (#2672)
  samples/csharp_dotnetcore/adaptive-dialog/08.todo-bot-luis-qnamaker/README.md
Owners: @johnataylor, @vishwacsena

add UserActivity handler for bf dialog:generate:test (#2676)
  experimental/generation/generator/packages/library/src/testGenerator.ts
  experimental/generation/generator/packages/library/test/generate.test.ts
  experimental/generation/generator/packages/library/test/oracles/addItemWithButton.test.dialog
  experimental/generation/generator/packages/library/test/transcripts/addItemWithButton.transcript
Owners: @boydc2014, @chrimc62, @GeoffCoxMSFT

Update sdk to 4.10.0 (#2683)
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.CoreBot/Microsoft.BotFramework.CSharp.CoreBot.nuspec
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.CoreBot/content/.template.config/template.json
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.CoreBot/content/CoreBot.Tests/CoreBot.Tests.csproj
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.CoreBot/content/CoreBot/CoreBot.csproj
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EchoBot/Microsoft.BotFramework.CSharp.EchoBot.nuspec
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EchoBot/content/.template.config/template.json
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EchoBot/content/Microsoft.BotFramework.EchoBot.csproj
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EmptyBot/Microsoft.BotFramework.CSharp.EmptyBot.nuspec
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EmptyBot/content/.template.config/template.json
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EmptyBot/content/Microsoft.BotFramework.EmptyBot.csproj
Owners: @garypretty, @sgellock

Update VSIX to 4.10.0 (#2687)
  generators/vsix-vs-win/BotBuilderVSIX-V4/HOW_TO_VERSION.md
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBot-Core21/CoreBot.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBot-Core21/CoreBot.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBot/CoreBot.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBot/CoreBot.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests-Core21/CoreBot.tests/CoreBot.Tests.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests-Core21/CoreBot.tests/CoreBot.tests.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests-Core21/CoreBot/CoreBot.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests-Core21/CoreBot/CoreBot.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests-Core21/CoreBotWithTests.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests/CoreBot.tests/CoreBot.Tests.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests/CoreBot.tests/CoreBot.tests.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests/CoreBot/CoreBot.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests/CoreBot/CoreBot.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests/CoreBotWithTests.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/EchoBot-Core21/EchoBot.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/EchoBot-Core21/EchoBot.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/EchoBot/EchoBot.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/EchoBot/EchoBot.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/EmptyBot-Core21/EmptyBot.cs
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/EmptyBot-Core21/EmptyBot.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/EmptyBot-Core21/EmptyBot.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/EmptyBot-Core21/Startup.cs
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/EmptyBot/EmptyBot.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/EmptyBot/EmptyBot.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/source.extension.vsixmanifest
Owners: @garypretty, @sgellock

Fix the name of the launch setting in launchSettings.json (#2695)
  samples/csharp_dotnetcore/57.teams-conversation-bot/Properties/launchSettings.json
Owners: @johnataylor, @stevengum

Update to SDK support for new generation model. (#2703)
  experimental/generation/TestBot/Test/sandwich.schema
  experimental/generation/TestBot/Test/sandwich.transcript
  experimental/generation/TestBot/TestBot/Program.cs
  experimental/generation/TestBot/TestBot/TestBot.csproj
  experimental/generation/generator/packages/library/src/testGenerator.ts
  experimental/generation/generator/packages/library/test/oracles/addItemWithButton.test.dialog
  experimental/generation/generator/packages/library/test/oracles/sandwich.test.dialog
  experimental/generation/runbot/Program.cs
  experimental/generation/runbot/Properties/launchSettings.json
  experimental/generation/runbot/RunBot.cs
  experimental/generation/runbot/RunBot.csproj
  experimental/generation/runbot/Startup.cs
  experimental/generation/runbot/readme.md
Owners: @boydc2014, @chrimc62, @GeoffCoxMSFT

Update dotnet templates to 4.10.2 (#2702)
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.CoreBot/Microsoft.BotFramework.CSharp.CoreBot.nuspec
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.CoreBot/content/.template.config/template.json
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.CoreBot/content/CoreBot.Tests/CoreBot.Tests.csproj
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.CoreBot/content/CoreBot/CoreBot.csproj
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EchoBot/Microsoft.BotFramework.CSharp.EchoBot.nuspec
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EchoBot/content/.template.config/template.json
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EchoBot/content/Microsoft.BotFramework.EchoBot.csproj
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EmptyBot/Microsoft.BotFramework.CSharp.EmptyBot.nuspec
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EmptyBot/content/.template.config/template.json
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EmptyBot/content/Microsoft.BotFramework.EmptyBot.csproj
Owners: @garypretty, @sgellock

Update VSIX to 4.10.2 (#2701)
  generators/vsix-vs-win/BotBuilderVSIX-V4/HOW_TO_VERSION.md
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBot-Core21/CoreBot.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBot-Core21/CoreBot.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBot/CoreBot.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBot/CoreBot.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests-Core21/CoreBot.tests/CoreBot.Tests.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests-Core21/CoreBot.tests/CoreBot.tests.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests-Core21/CoreBot/CoreBot.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests-Core21/CoreBot/CoreBot.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests-Core21/CoreBotWithTests.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests/CoreBot.tests/CoreBot.Tests.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests/CoreBot.tests/CoreBot.tests.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests/CoreBot/CoreBot.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests/CoreBot/CoreBot.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests/CoreBotWithTests.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/EchoBot-Core21/EchoBot.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/EchoBot-Core21/EchoBot.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/EchoBot/EchoBot.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/EchoBot/EchoBot.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/EmptyBot-Core21/EmptyBot.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/EmptyBot-Core21/EmptyBot.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/EmptyBot/EmptyBot.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/EmptyBot/EmptyBot.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/source.extension.vsixmanifest
Owners: @garypretty, @sgellock

Update namespace of EchoBot and EmptyBot. (#2710)
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EchoBot/content/AdapterWithErrorHandler.cs
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EchoBot/content/Bots/EchoBot.cs
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EchoBot/content/Controllers/BotController.cs
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EchoBot/content/Program.cs
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EchoBot/content/Startup.cs
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EmptyBot/content/Controllers/BotController.cs
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EmptyBot/content/EmptyBot.cs
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EmptyBot/content/Program.cs
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EmptyBot/content/Startup.cs
Owners: @garypretty, @sgellock

Fix 'using' in EchoBot (#2712)
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EchoBot/content/Startup.cs
Owners: @garypretty, @sgellock

Fix dotnet echobot template startup.cs (#2713)
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EchoBot/content/Startup.cs
Owners: @garypretty, @sgellock

generators bump (#2691)
  generators/python/app/templates/core/{{cookiecutter.bot_name}}/requirements.txt
  generators/python/app/templates/echo/{{cookiecutter.bot_name}}/requirements.txt
  generators/python/app/templates/empty/{{cookiecutter.bot_name}}/requirements.txt
Owners: @garypretty, @sgellock

Update yeoman to 4.10.1 (#2689)
  generators/generator-botbuilder/generators/app/templates/core/package-with-tests.json.js
  generators/generator-botbuilder/generators/app/templates/core/package-with-tests.json.ts
  generators/generator-botbuilder/generators/app/templates/core/package.json.js
  generators/generator-botbuilder/generators/app/templates/core/package.json.ts
  generators/generator-botbuilder/generators/app/templates/echo/package.json.js
  generators/generator-botbuilder/generators/app/templates/echo/package.json.ts
  generators/generator-botbuilder/generators/app/templates/empty/package.json.js
  generators/generator-botbuilder/generators/app/templates/empty/package.json.ts
  generators/generator-botbuilder/package.json
Owners: @garypretty, @sgellock

Update index.js (#2725)
  samples/javascript_nodejs/24.bot-authentication-msgraph/index.js
Owners: @sgellock, @stevengum

Update Index.js (#2729)
  samples/javascript_nodejs/03.welcome-users/index.js
Owners: @sgellock, @stevengum

Dotnet generators to 4.10.3 (#2730)
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.CoreBot/Microsoft.BotFramework.CSharp.CoreBot.nuspec
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.CoreBot/content/.template.config/template.json
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.CoreBot/content/CoreBot.Tests/CoreBot.Tests.csproj
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.CoreBot/content/CoreBot/CoreBot.csproj
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EchoBot/Microsoft.BotFramework.CSharp.EchoBot.nuspec
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EchoBot/content/.template.config/template.json
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EchoBot/content/Microsoft.BotFramework.EchoBot.csproj
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EmptyBot/Microsoft.BotFramework.CSharp.EmptyBot.nuspec
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EmptyBot/content/.template.config/template.json
  generators/dotnet-templates/Microsoft.BotFramework.CSharp.EmptyBot/content/Microsoft.BotFramework.EmptyBot.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/HOW_TO_VERSION.md
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBot-Core21/CoreBot.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBot-Core21/CoreBot.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBot/CoreBot.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBot/CoreBot.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests-Core21/CoreBot.tests/CoreBot.Tests.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests-Core21/CoreBot.tests/CoreBot.tests.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests-Core21/CoreBot/CoreBot.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests-Core21/CoreBot/CoreBot.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests-Core21/CoreBotWithTests.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests/CoreBot.tests/CoreBot.Tests.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests/CoreBot.tests/CoreBot.tests.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests/CoreBot/CoreBot.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests/CoreBot/CoreBot.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/CoreBotWithTests/CoreBotWithTests.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/EchoBot-Core21/EchoBot.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/EchoBot-Core21/EchoBot.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/EchoBot/EchoBot.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/EchoBot/EchoBot.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/EmptyBot-Core21/EmptyBot.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/EmptyBot-Core21/EmptyBot.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/EmptyBot/EmptyBot.csproj
  generators/vsix-vs-win/BotBuilderVSIX-V4/UncompressedProjectTemplates/EmptyBot/EmptyBot.vstemplate
  generators/vsix-vs-win/BotBuilderVSIX-V4/source.extension.vsixmanifest
Owners: @garypretty, @sgellock

Johtaylo/update 4 10 3 (#2734)
  samples/csharp_dotnetcore/adaptive-dialog/01.multi-turn-prompt/MultiTurnPromptBot.csproj
  samples/csharp_dotnetcore/adaptive-dialog/02.using-cards/CardsBot.csproj
  samples/csharp_dotnetcore/adaptive-dialog/03.core-bot/CoreBot.csproj
  samples/csharp_dotnetcore/adaptive-dialog/04.waterfall-or-custom-dialog-with-adaptive/WaterfallAndAdaptiveBot.csproj
  samples/csharp_dotnetcore/adaptive-dialog/05.interruptions-bot/InterruptionsBot.csproj
  samples/csharp_dotnetcore/adaptive-dialog/06.todo-bot/ToDoBotWithLUIS.csproj
  samples/csharp_dotnetcore/adaptive-dialog/07.qnamaker/QnAMaker.csproj
  samples/csharp_dotnetcore/adaptive-dialog/08.todo-bot-luis-qnamaker/ToDoBotWithLUISAndQnAMaker.csproj
  samples/csharp_dotnetcore/adaptive-dialog/09.integrating-composer-dialogs/Composer-dialogs.csproj
  samples/csharp_dotnetcore/adaptive-dialog/20.EchoBot-declarative/EchoBot.csproj
  samples/csharp_dotnetcore/adaptive-dialog/21.AdaptiveBot-declarative/AdaptiveBot.csproj
  samples/csharp_dotnetcore/language-generation/05.a.multi-turn-prompt-with-language-fallback/MultiTurnMultiLingualPromptBot.csproj
  samples/csharp_dotnetcore/language-generation/05.multi-turn-prompt/MultiTurnPromptBot.csproj
  samples/csharp_dotnetcore/language-generation/06.using-cards/CardsBot.csproj
  samples/csharp_dotnetcore/language-generation/13.core-bot/CoreBot.csproj
  samples/csharp_dotnetcore/language-generation/20.extending-with-custom-functions/CustomFunction.csproj
  samples/csharp_webapi/13.core-bot/CoreBot.csproj
  samples/csharp_webapi/13.core-bot/Web.config
  samples/csharp_webapi/13.core-bot/packages.config
Owners: @johnataylor, @vishwacsena, @stevengum

Update typescript samples to 4.10.3 (#2735)
  samples/javascript_es6/01.browser-echo/package.json
  samples/typescript_nodejs/00.empty-bot/package.json
  samples/typescript_nodejs/01.console-echo/package.json
  samples/typescript_nodejs/02.echo-bot/package.json
  samples/typescript_nodejs/03.welcome-users/package.json
  samples/typescript_nodejs/05.multi-turn-prompt/package.json
  samples/typescript_nodejs/06.using-cards/package.json
  samples/typescript_nodejs/13.core-bot/package.json
  samples/typescript_nodejs/16.proactive-messages/package.json
  samples/typescript_nodejs/50.teams-messaging-extensions-search/package.json
  samples/typescript_nodejs/51.teams-messaging-extensions-action/package.json
  samples/typescript_nodejs/57.teams-conversation-bot/package.json
  samples/typescript_nodejs/58.teams-start-new-thread-in-channel/package.json
Owners: @sgellock, @stevengum

Javascript generators to 4.10.3 (#2743)
  generators/generator-botbuilder/generators/app/templates/core/package-with-tests.json.js
  generators/generator-botbuilder/generators/app/templates/core/package-with-tests.json.ts
  generators/generator-botbuilder/generators/app/templates/core/package.json.js
  generators/generator-botbuilder/generators/app/templates/core/package.json.ts
  generators/generator-botbuilder/generators/app/templates/echo/package.json.js
  generators/generator-botbuilder/generators/app/templates/echo/package.json.ts
  generators/generator-botbuilder/generators/app/templates/empty/package.json.js
  generators/generator-botbuilder/generators/app/templates/empty/package.json.ts
  generators/generator-botbuilder/package.json
Owners: @garypretty, @sgellock

Python generators to 4.10.1 (#2744)
  generators/python/app/templates/core/{{cookiecutter.bot_name}}/requirements.txt
  generators/python/app/templates/echo/{{cookiecutter.bot_name}}/requirements.txt
  generators/python/app/templates/empty/{{cookiecutter.bot_name}}/requirements.txt
Owners: @garypretty, @sgellock

update orchestrator samples README doc to a working version (#2754)
  experimental/orchestrator/csharp_dotnetcore/01.dispatch-bot/README.md
  experimental/orchestrator/csharp_dotnetcore/02.todo-bot-with-adaptive-dialog/README.md
  experimental/orchestrator/csharp_dotnetcore/03.declarative-bot/README.md
Owners: @microsoft/bb-samples

Refine README doc of Adaptive-tool (#2718)
  experimental/adaptive-tool/README.md
  experimental/adaptive-tool/contribute.md
  experimental/adaptive-tool/debugging.md
Owners: @boydc2014, @chrimc62, @GeoffCoxMSFT

Fix bug in build. (#2802)
  experimental/generation/generator/packages/library/templates/generator.lg
  experimental/generation/generator/packages/library/templates/standard/build.cmd.lg
  experimental/generation/generator/packages/library/templates/standard/luconfig.json.lg
  experimental/generation/generator/packages/library/templates/standard/run.cmd.lg
  experimental/generation/generator/packages/library/templates/standard/run.lg
  experimental/generation/runbot/RunBot.cs
  experimental/generation/runbot/readme.md
Owners: @boydc2014, @chrimc62, @GeoffCoxMSFT

Support outlining for lu (#2721)
  experimental/adaptive-tool/client/src/extension.ts
  experimental/adaptive-tool/server/lg/src/providers/foldingRange.ts
  experimental/adaptive-tool/server/lg/src/server.ts
  experimental/adaptive-tool/server/lu/src/providers/foldingRange.ts
  experimental/adaptive-tool/server/lu/src/server.ts
Owners: @boydc2014, @chrimc62, @GeoffCoxMSFT

Pinning python requests to version 2.23.0 to resolve pip warning (#2752)
  .gitignore
  samples/python/17.multilingual-bot/requirements.txt
  samples/python/21.corebot-app-insights/requirements.txt
  samples/python/55.teams-link-unfurling/requirements.txt
  samples/python/56.teams-file-upload/requirements.txt
  samples/python/57.teams-conversation-bot/requirements.txt
  samples/python/57.teams-conversation-bot/teams_app_manifest/manifest.json
  samples/python/58.teams-start-thread-in-channel/requirements.txt
  samples/python/wip/python_django/13.core-bot/requirements.txt
Owners: @microsoft/bb-samples, @axelsrz
